body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background: rgb(99, 99, 211);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: 2px solid #4CAF50;
}

#counter {
    font-size: 24px;
    margin-top: 20px;
}
