 body {
            font-family: Arial, sans-serif;
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            margin: auto;
            display: flex;
            background-color: grey;
            display: flex;
            flex-direction: row;;
        }
        h1 {
            text-align: center;
            color: blue;
        }
        label, input, button {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            color: linear-gradient(to right, #ff7e5f, #feb47b);
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            cursor: pointer;
        }
        button[type="reset"] {
            background-color: #f44336;
        }
        #result {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ddd;
            min-height: 20px;
        }